<a href="https://colab.research.google.com/github/raulbenitez/postgrau_IML_exploratory/blob/master/check_str_spaces.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A petición de una de las estudiantes, vamos a ver cómo detectar las filas de un excel que tienen espacios en una de las columnas:

In [2]:
from google.colab import files # aqui tambien
import io
import pandas as pd

uploaded = files.upload()

Saving detect_rows_spaces.xlsx to detect_rows_spaces.xlsx

In [0]:
import pandas as pd
df = pd.read_excel('detect_rows_spaces.xlsx',header=0)

In [8]:
df.head()

                   a     b   c
0          hola hola    10   2
1        estanotiene    34   2
2  esta si que tiene  1324   3
3             estano    23  23
4        estatampoco    12  23

Con la instrucción find podemos encontrar la primera posición que contiene un espacio. Devuelve -1 si no encuentra ningun espacio:

In [9]:
df['a'].str.find(' ')

0    4
1   -1
2    4
3   -1
4   -1
5    4
Name: a, dtype: int64

Tambien podemos comprobar si contiene o no espacios mediante la función contains:

In [10]:
df['a'].str.contains(' ')

0     True
1    False
2     True
3    False
4    False
5     True
Name: a, dtype: bool

ERROR! Session/line number was not unique in database. History logging moved to new session 59