<a href="https://colab.research.google.com/github/raulbenitez/postgrau_IML_exploratory/blob/master/compare_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Compare two dataframes 

with the same structure but differences in values

In [4]:
import seaborn as sns
mpg = sns.load_dataset('mpg')

mpg_nonans = mpg.fillna(999,axis=1) #Â remove observations with NaNs

mpg.compare(mpg_nonans)

    horsepower
          self  other
32         NaN  999.0
126        NaN  999.0
330        NaN  999.0
336        NaN  999.0
354        NaN  999.0
374        NaN  999.0