<a href="https://colab.research.google.com/github/raulbenitez/postgrau_IML_exploratory/blob/master/handling_dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Handling dates and times stored in the index of a dataframe or in one of its columns:

In [1]:
from google.colab import drive 
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

# a) Date and time stored in the index of the dataframe:

In [12]:
import pandas as pd
filename = '/content/drive/My Drive/data_course/test_dates.xlsx'

d = pd.read_excel(filename,index_col=0,header=2)
d.head()

                var1      var2
Date
2020-04-02  0.514775  7.930535
2020-04-03  0.116610  8.861963
2020-04-04  0.924832  8.597455
2020-04-05  0.651744  8.484330
2020-04-06  0.581351  1.071028

Buscar observaciones en un intérvalo de fechas determinado:

In [13]:
d['2020-04-02':'2020-04-13']

                var1      var2
Date
2020-04-02  0.514775  7.930535
2020-04-03  0.116610  8.861963
2020-04-04  0.924832  8.597455
2020-04-05  0.651744  8.484330
2020-04-06  0.581351  1.071028
2020-04-07  0.090434  6.328461
2020-04-08  0.818185  4.642685
2020-04-09  0.766545  2.010119
2020-04-10  0.567521  4.901166
2020-04-11  0.207351  7.537774
2020-04-12  0.422860  3.214752
2020-04-13  0.352661  7.066169

Buscar las observaciones de un determinado mes:

In [14]:
d['2021-03']

                var1      var2
Date
2021-03-01  0.839629  4.000917
2021-03-02  0.360419  6.826685
2021-03-03  0.022935  0.434068
2021-03-04  0.093409  2.537429
2021-03-05  0.722558  8.820998
2021-03-06  0.299054  9.813481
2021-03-07  0.997471  2.829880
2021-03-08  0.870685  1.142817
2021-03-09  0.212442  8.323725
2021-03-10  0.239909  8.583188
2021-03-11  0.783134  7.703228
2021-03-12  0.585186  3.915604
2021-03-13  0.982372  9.463831
2021-03-14  0.785280  4.667587
2021-03-15  0.714288  5.238880
2021-03-16  0.912624  1.522179
2021-03-17  0.910952  4.394808
2021-03-18  0.335722  6.705667
2021-03-19  0.651508  9.331749
2021-03-20  0.360049  2.984550
2021-03-21  0.979899  3.352657
2021-03-22  0.335388  4.606006
2021-03-23  0.346961  5.301942
2021-03-24  0.523276  6.178067
2021-03-25  0.169845  4.333898
2021-03-26  0.049547  0.094570
2021-03-27  0.102299  6.654217
2021-03-28  0.927548  4.752003
2021-03-29  0.336116  5.173756
2021-03-30  0.341357  0.794135
2021-03-31  0.692199  6.298652

O de un determinado año:

In [15]:
d['2020'].head()

                var1      var2
Date
2020-04-02  0.514775  7.930535
2020-04-03  0.116610  8.861963
2020-04-04  0.924832  8.597455
2020-04-05  0.651744  8.484330
2020-04-06  0.581351  1.071028

# b) La fecha está en una de las columnas:

In [16]:
filename = '/content/drive/My Drive/data_course/test_dates.xlsx'

d1 = pd.read_excel(filename,header=2)
d1.head()

        Date      var1      var2
0 2020-04-02  0.514775  7.930535
1 2020-04-03  0.116610  8.861963
2 2020-04-04  0.924832  8.597455
3 2020-04-05  0.651744  8.484330
4 2020-04-06  0.581351  1.071028

Convertir primero la columna a formato datetime:

In [22]:
pd.to_datetime(d1['Date'])

0     2020-04-02
1     2020-04-03
2     2020-04-04
3     2020-04-05
4     2020-04-06
         ...
700   2022-03-03
701   2022-03-04
702   2022-03-05
703   2022-03-06
704   2022-03-07
Name: Date, Length: 705, dtype: datetime64[ns]

Buscar observaciones en un determinado rango de fechas usando la función loc:

In [25]:
import datetime
d1.loc(d1['Date']==datetime.date(year=2020,month=3,day=10))

TypeError: ignored