<a href="https://colab.research.google.com/github/raulbenitez/postgrau_IML_exploratory/blob/master/miniproject2/MiniProject_2_Miquel_Batalla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from google.colab import drive 
drive.mount('/content/gdrive')
sr = pd.read_csv('/content/gdrive/My Drive/Postgrau IML/Dades Machine Learning/MiniProjecte 1/MP1 - Suicide Rates.csv')
sr.head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

In [3]:
sr[' gdp_for_year ($) ']=sr[' gdp_for_year ($) '].str.replace(',','',regex=False)
sr[' gdp_for_year ($) ']=sr[' gdp_for_year ($) '].astype('int64')
sr.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)       int64
gdp_per_capita ($)      int64
generation             object
dtype: object

In [4]:
sr['age'].unique()

array(['15-24 years', '35-54 years', '75+ years', '25-34 years',
       '55-74 years', '5-14 years'], dtype=object)

In [5]:
age_range={'5-14 years':1,'15-24 years':2,'25-34 years':3,'35-54 years':4,'55-74 years':5,'75+ years':6}
sr.replace({'age':age_range},inplace=True)
sr['age'].unique()

array([2, 4, 6, 3, 5, 1])

In [6]:
sr.dtypes

country                object
year                    int64
sex                    object
age                     int64
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)       int64
gdp_per_capita ($)      int64
generation             object
dtype: object

In [7]:
import numpy as np
import seaborn as sns
sr.columns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [8]:
X=sr[['year', 'age', 'suicides_no', 'population', 'suicides/100k pop',
      ' gdp_for_year ($) ','gdp_per_capita ($)']]
# PROBLEMAS:
#'HDI for year' tiene NaN --> No se usa
#' gdp_for_year ($) ' es un OBJECT

from sklearn import decomposition
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

XS = StandardScaler().fit_transform(X)
pca = decomposition.PCA(n_components=X.shape[1]).fit(XS)
Xproj = pca.transform(XS)
Xproj.shape

(27820, 7)

In [9]:
print('Valores propios = {} {} {} {}'.format(*pca.explained_variance_))
print('Fracción de la varianza explicada = {} {} {} {}'.format(*pca.explained_variance_ratio_))

Valores propios = 2.27331270840774 1.4492220320403244 1.2872784181522483 0.6957060725039388
Fracción de la varianza explicada = 0.32474728476530174 0.20702427703260629 0.18389030663745182 0.09938300929951246

In [10]:
100*pca.explained_variance_ratio_.cumsum()
#Hacen falta 5 variables para representar el 90% de la variabilidad

array([ 32.47472848,  53.17715618,  71.56618684,  81.50448777,
        90.8880462 ,  97.02721679, 100.        ])

In [0]:
#Ha estado 1 hora ejecutando pero no aparece ningun resultado, no se si puede haber un error

from sklearn.svm import SVC
from sklearn.datasets import load_digits
from sklearn.feature_selection import RFE

X=sr[['year', 'age','suicides_no', 'population', 'suicides/100k pop',
      ' gdp_for_year ($) ','gdp_per_capita ($)']]
Y=sr['sex']

svc = SVC(kernel="linear", C=1)
rfe = RFE(estimator=svc, n_features_to_select=1, step=1)
rfe.fit(X, Y)
print('Mantained features: {}'.format(rfe.support_))

In [0]:
sns.pairplot(sr,hue='sex')