<a href="https://colab.research.google.com/github/raulbenitez/postgrau_IML_exploratory/blob/master/PROYECTO/Proyecto_Ton/Proyecto_Ton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
df = pd.read_csv('/content/gdrive/My Drive/data_course/GlobalAirportDatabase.csv')
df.head()

  ICAO Code IATA Code  ... Latitude Decimal Degrees Longitude Decimal Degrees
0      AYGA       GKA  ...                   -6.082                   145.392
1      AYLA       LAE  ...                    0.000                     0.000
2      AYMD       MAG  ...                   -5.207                   145.789
3      AYMH       HGU  ...                   -5.826                   144.296
4      AYNZ       LAE  ...                   -6.570                   146.726

[5 rows x 16 columns]

In [29]:
df.shape

(9300, 16)

In [30]:
df.columns

Index(['ICAO Code', 'IATA Code', 'Airport Name', 'City/Town', 'Country',
       'Latitude Degrees', 'Latitude Minutes', 'Latitude Seconds',
       'Latitude Direction', 'Longitude Degrees', 'Longitude Minutes',
       'Longitude Seconds', 'Longitude Direction', 'Altitude',
       'Latitude Decimal Degrees', 'Longitude Decimal Degrees'],
      dtype='object')