<a href="https://colab.research.google.com/github/raulbenitez/postgrau_IML_exploratory/blob/master/test_imputation_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cargamos un fichero excel de prueba en el que algunas de las filas no tienen valor para la variable de la columna c:

In [3]:
from sklearn.impute import KNNImputer
from google.colab import files # aqui tambien
import io
import pandas as pd

uploaded = files.upload()

Saving test_imputation.xlsx to test_imputation (1).xlsx

Leemos los datos y los almacenamos en un dataframe de pandas:

In [6]:
df = pd.read_excel('test_imputation.xlsx',header=0)
df.head(10)

   a  b     c
0  1  1   3.0
1  1  0   4.0
2  4  4  10.0
3  4  3  11.0
4  6  7  21.0
5  5  7  20.0
6  1  1   NaN
7  3  4   NaN
8  6  8   NaN

In [12]:
Aplicamos el algoritmo de imputación multivariada basado los vecinos más cercanos:

SyntaxError: ignored

In [9]:

imputer = KNNImputer(n_neighbors=2, weights="uniform")
imputed_data = imputer.fit_transform(df)

df_imputed = pd.DataFrame(imputed_data,columns=df.columns)
df_imputed.loc[df['c'].isna()==True]

     a    b     c
6  1.0  1.0   3.5
7  3.0  4.0  10.5
8  6.0  8.0  20.5

Comprobamos que se ha realizado una imputación correctamente teniendo en cuenta a los vecinos más cercanos de cada observación con datos missing:

In [12]:
df_imputed.head(10)

     a    b     c
0  1.0  1.0   3.0
1  1.0  0.0   4.0
2  4.0  4.0  10.0
3  4.0  3.0  11.0
4  6.0  7.0  21.0
5  5.0  7.0  20.0
6  1.0  1.0   3.5
7  3.0  4.0  10.5
8  6.0  8.0  20.5