<a href="https://colab.research.google.com/github/raulbenitez/postgrau_IML_exploratory/blob/master/PROYECTO/Proyecto_exploratory_Santiago/Proyecto_exploratory_Santiago.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **English Premierleague**

Cargado de dataset

In [2]:
!wget -O EPL.csv 'https://raw.githubusercontent.com/santiagoruizs/newrep/master/EPL.csv'

--2020-04-29 17:32:50--  https://raw.githubusercontent.com/santiagoruizs/newrep/master/EPL.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 573373 (560K) [text/plain]
Saving to: ‘EPL.csv’

EPL.csv             100%[===================>] 559.93K  --.-KB/s    in 0.05s

2020-04-29 17:32:51 (10.7 MB/s) - ‘EPL.csv’ saved [573373/573373]

In [5]:
import pandas as pd
df = pd.read_csv('/content/EPL.csv')
df.head()

       Date  HomeTeam       AwayTeam  FTHG  FTAG FTR  ...  HF  AF HY AY  HR  AR
0  19/08/00  Charlton       Man City     4     0   H  ...  13  12  1  2   0   0
1  19/08/00   Chelsea       West Ham     4     2   H  ...  19  14  1  2   0   0
2  19/08/00  Coventry  Middlesbrough     1     3   A  ...  15  21  5  3   1   0
3  19/08/00     Derby    Southampton     2     2   D  ...  11  13  1  1   0   0
4  19/08/00     Leeds        Everton     2     0   H  ...  21  20  1  3   0   0

[5 rows x 22 columns]

In [8]:
df.shape

(7386, 22)

In [12]:
df.describe()

              FTHG         FTAG  ...           HR           AR
count  7386.000000  7386.000000  ...  7386.000000  7386.000000
mean      1.527349     1.140265  ...     0.064175     0.091660
std       1.292705     1.132799  ...     0.256422     0.300067
min       0.000000     0.000000  ...     0.000000     0.000000
25%       1.000000     0.000000  ...     0.000000     0.000000
50%       1.000000     1.000000  ...     0.000000     0.000000
75%       2.000000     2.000000  ...     0.000000     0.000000
max       9.000000     9.000000  ...     3.000000     2.000000

[8 rows x 16 columns]

In [13]:
df.dtypes

Date        object
HomeTeam    object
AwayTeam    object
FTHG         int64
FTAG         int64
FTR         object
HTHG         int64
HTAG         int64
HTR         object
Referee     object
HS           int64
AS           int64
HST          int64
AST          int64
HC           int64
AC           int64
HF           int64
AF           int64
HY           int64
AY           int64
HR           int64
AR           int64
dtype: object

AttributeError: ignored